<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vs.Architect.Client.SolutionMinder.ConsoleApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vs.Architect.Client.SolutionMinder.ConsoleApp.Settings>
            <setting name="RecentSolutions" serializeAs="String">
                <value />
            </setting>
            <setting name="SolutionExtension" serializeAs="String">
                <value>.sln</value>
            </setting>
            <setting name="IncludeProjects" serializeAs="String">
                <value>Access|Engine|Manager</value>
            </setting>
            <setting name="ExcludeProjects" serializeAs="String">
                <value>Ifx,Microservice</value>
            </setting>
            <setting name="MaxRecentSolutions" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RecentSolutionsOption" serializeAs="String">
                <value>Choose from recent solutions</value>
            </setting>
            <setting name="BrowseOption" serializeAs="String">
                <value>Browse to a new solution</value>
            </setting>
            <setting name="MainMenuOption" serializeAs="String">
                <value>Return to main menu</value>
            </setting>
            <setting name="ExitOption" serializeAs="String">
                <value>Exit</value>
            </setting>
        </vs.Architect.Client.SolutionMinder.ConsoleApp.Settings>
    </userSettings>
</configuration>